
 > #   CUSTOMER SATISFACTION PREDICTION

 #### ***This project is made using PANDAS module***

### Loading csv data file

In [4]:
import pandas as  pd
import numpy as np

In [5]:
df = pd.read_csv('cust_satisfaction.csv')

In [6]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

### Removing duplicates

In [8]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
103899    False
103900    False
103901    False
103902    False
103903    False
Length: 103904, dtype: bool

In [9]:
df.duplicated().sum()

np.int64(172)

In [10]:
df.drop_duplicates()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [11]:
df.drop_duplicates(inplace=True) # inplace=True removes duplicates permanently from the original DataFrame

In [12]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

### Removing null values if exist

In [15]:
df.isnull()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,False,False,False,False,False,False,False,False,False,False,False,False
103900,False,False,False,False,False,False,False,False,False,False,False,False
103901,False,False,False,False,False,False,False,False,False,False,False,False
103902,False,False,False,False,False,False,False,False,False,False,False,False
103903,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [17]:
df.dropna(inplace=True) #drop null value and place to df and return none

In [18]:
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [19]:
df.describe()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103422.000000,103422.000000,103422.000000,103422.000000,103422.000000,103422.000000,103422.000000
mean,39.377057,1189.611707,3.357583,3.630649,3.285926,14.772447,15.203922
std,15.115713,997.510488,1.333102,1.181313,1.312334,38.143678,38.725894
min,7.000000,31.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,27.000000,414.000000,2.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,843.000000,4.000000,4.000000,3.000000,0.000000,0.000000
75%,51.000000,1744.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,85.000000,4983.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [20]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

### Dropping unnecessary columns

In [21]:
df.columns

Index(['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction',
       'Age', 'Flight Distance', 'Inflight entertainment', 'Baggage handling',
       'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='object')

In [22]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [23]:
df.drop(
    ['Customer Type', 'Inflight entertainment', 'Baggage handling'],
    axis=1,
    inplace=True
)

In [25]:
df

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,25,18.0
1,Male,Business travel,Business,neutral or dissatisfied,25,235,1,1,6.0
2,Female,Business travel,Business,satisfied,26,1142,5,0,0.0
3,Female,Business travel,Business,neutral or dissatisfied,25,562,2,11,9.0
4,Male,Business travel,Business,satisfied,61,214,3,0,0.0
...,...,...,...,...,...,...,...,...,...
103899,Female,Business travel,Eco,neutral or dissatisfied,23,192,2,3,0.0
103900,Male,Business travel,Business,satisfied,49,2347,4,0,0.0
103901,Male,Business travel,Business,neutral or dissatisfied,30,1995,4,7,14.0
103902,Female,Business travel,Eco,neutral or dissatisfied,22,1000,1,0,0.0
103903,Male,Business travel,Business,neutral or dissatisfied,27,1723,1,0,0.0

In [26]:
df.columns

Index(['Gender', 'Type of Travel', 'Class', 'satisfaction', 'Age',
       'Flight Distance', 'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='object')

## ❓ Question 

Find the number of customers who:

- Are Female
- Age between 30 and 50
- Flight Distance < 1500
- ECO-PLUS Passenger
- Satisfied
- Cleanliness <2

In [28]:
PASSENGER= df[df['Gender']=="Female"]

In [29]:
PASSENGER

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
2,Female,Business travel,Business,satisfied,26,1142,5,0,0.0
3,Female,Business travel,Business,neutral or dissatisfied,25,562,2,11,9.0
5,Female,Personal Travel,Eco,neutral or dissatisfied,26,1180,1,0,0.0
7,Female,Business travel,Business,satisfied,52,2035,4,4,0.0
8,Female,Business travel,Business,neutral or dissatisfied,41,853,2,0,0.0
...,...,...,...,...,...,...,...,...,...
103893,Female,Business travel,Business,neutral or dissatisfied,58,296,1,0,29.0
103895,Female,Business travel,Eco,neutral or dissatisfied,24,1055,1,13,10.0
103897,Female,Business travel,Business,satisfied,60,1599,4,9,7.0
103899,Female,Business travel,Eco,neutral or dissatisfied,23,192,2,3,0.0
103902,Female,Business travel,Eco,neutral or dissatisfied,22,1000,1,0,0.0

In [30]:
df['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [31]:
PASSENGER= PASSENGER[PASSENGER['satisfaction']=="satisfied"]

In [32]:
PASSENGER

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
2,Female,Business travel,Business,satisfied,26,1142,5,0,0.0
7,Female,Business travel,Business,satisfied,52,2035,4,4,0.0
16,Female,Business travel,Business,satisfied,26,2123,4,49,51.0
18,Female,Business travel,Business,satisfied,45,2486,4,7,5.0
24,Female,Business travel,Eco,satisfied,23,452,1,54,44.0
...,...,...,...,...,...,...,...,...,...
103881,Female,Business travel,Business,satisfied,51,384,3,54,51.0
103887,Female,Personal Travel,Eco,satisfied,51,1222,4,4,0.0
103889,Female,Business travel,Business,satisfied,43,3885,3,0,0.0
103890,Female,Business travel,Eco Plus,satisfied,56,550,3,0,0.0
103897,Female,Business travel,Business,satisfied,60,1599,4,9,7.0

In [33]:
PASSENGER= PASSENGER[(PASSENGER['Age']>30)&(PASSENGER['Age']<50)]

In [34]:
PASSENGER

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
18,Female,Business travel,Business,satisfied,45,2486,4,7,5.0
26,Female,Business travel,Business,satisfied,33,1561,2,0,0.0
27,Female,Business travel,Eco Plus,satisfied,49,315,2,0,8.0
30,Female,Business travel,Business,satisfied,31,819,5,0,0.0
32,Female,Business travel,Business,satisfied,35,2611,4,109,120.0
...,...,...,...,...,...,...,...,...,...
103843,Female,Business travel,Business,satisfied,42,1076,5,171,156.0
103853,Female,Business travel,Eco,satisfied,49,760,5,0,21.0
103861,Female,Business travel,Eco,satisfied,38,821,4,23,0.0
103870,Female,Business travel,Business,satisfied,48,1990,4,0,0.0
103889,Female,Business travel,Business,satisfied,43,3885,3,0,0.0

In [35]:
PASSENGER.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10643 entries, 18 to 103889
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Gender                      10643 non-null  object
 1   Type of Travel              10643 non-null  object
 2   Class                       10643 non-null  object
 3   satisfaction                10643 non-null  object
 4   Age                         10643 non-null  int64
 5   Flight Distance             10643 non-null  int64
 6   Cleanliness                 10643 non-null  int64
 7   Departure Delay in Minutes  10643 non-null  int64
 8   Arrival Delay in Minutes    10643 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 831.5+ KB

In [36]:
PASSENGER= PASSENGER[PASSENGER['Flight Distance']<1500]

In [37]:
PASSENGER

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
27,Female,Business travel,Eco Plus,satisfied,49,315,2,0,8.0
30,Female,Business travel,Business,satisfied,31,819,5,0,0.0
38,Female,Personal Travel,Eco,satisfied,47,302,4,23,31.0
69,Female,Business travel,Eco Plus,satisfied,38,157,4,0,0.0
91,Female,Business travel,Business,satisfied,41,304,2,31,19.0
...,...,...,...,...,...,...,...,...,...
103815,Female,Business travel,Eco,satisfied,42,1121,2,1,0.0
103832,Female,Business travel,Eco,satisfied,49,639,2,225,222.0
103843,Female,Business travel,Business,satisfied,42,1076,5,171,156.0
103853,Female,Business travel,Eco,satisfied,49,760,5,0,21.0
103861,Female,Business travel,Eco,satisfied,38,821,4,23,0.0

In [38]:
PASSENGER= PASSENGER[PASSENGER['Class']=='Eco Plus']

In [39]:
PASSENGER

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
27,Female,Business travel,Eco Plus,satisfied,49,315,2,0,8.0
69,Female,Business travel,Eco Plus,satisfied,38,157,4,0,0.0
375,Female,Business travel,Eco Plus,satisfied,37,174,5,0,0.0
403,Female,Business travel,Eco Plus,satisfied,48,907,5,0,1.0
546,Female,Business travel,Eco Plus,satisfied,40,809,4,118,100.0
...,...,...,...,...,...,...,...,...,...
103149,Female,Business travel,Eco Plus,satisfied,44,526,1,0,0.0
103306,Female,Business travel,Eco Plus,satisfied,46,191,4,0,0.0
103377,Female,Business travel,Eco Plus,satisfied,32,1250,5,0,0.0
103454,Female,Business travel,Eco Plus,satisfied,49,438,2,0,0.0
103674,Female,Business travel,Eco Plus,satisfied,41,391,2,0,0.0

In [46]:
PASSENGER= PASSENGER[PASSENGER['Cleanliness']<2]

In [47]:
PASSENGER

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
2455,Female,Business travel,Eco Plus,satisfied,49,370,1,0,0.0
5226,Female,Business travel,Eco Plus,satisfied,44,1050,1,0,0.0
13343,Female,Business travel,Eco Plus,satisfied,33,1208,1,15,0.0
16095,Female,Business travel,Eco Plus,satisfied,49,391,1,0,0.0
16701,Female,Personal Travel,Eco Plus,satisfied,32,670,1,0,0.0
24053,Female,Business travel,Eco Plus,satisfied,49,1190,1,0,0.0
25565,Female,Business travel,Eco Plus,satisfied,45,414,1,0,0.0
26989,Female,Business travel,Eco Plus,satisfied,46,386,1,3,0.0
29852,Female,Business travel,Eco Plus,satisfied,48,240,1,0,0.0
48361,Female,Business travel,Eco Plus,satisfied,49,438,1,0,0.0
49455,Female,Business travel,Eco Plus,satisfied,45,509,1,0,0.0
55025,Female,Business travel,Eco Plus,satisfied,43,231,1,0,0.0
57375,Female,Business travel,Eco Plus,satisfied,48,145,1,0,0.0
58264,Female,Personal Travel,Eco Plus,satisfied,36,304,1,4,0.0
59485,Female,Business travel,Eco Plus,satisfied,42,594,1,0,0.0
61397,Female,Personal Travel,Eco Plus,satisfied,45,802,1,0,0.0
63631,Female,Business travel,Eco Plus,satisfied,46,280,1,0,0.0
64945,Female,Business travel,Eco Plus,satisfied,47,216,1,0,0.0
80078,Female,Business travel,Eco Plus,satisfied,32,395,1,1,0.0
80161,Female,Business travel,Eco Plus,satisfied,42,566,1,0,0.0
81491,Female,Business travel,Eco Plus,satisfied,49,641,1,0,0.0
82181,Female,Business travel,Eco Plus,satisfied,42,525,1,0,0.0
85964,Female,Business travel,Eco Plus,satisfied,42,645,1,0,0.0
87328,Female,Personal Travel,Eco Plus,satisfied,43,462,1,0,0.0
89173,Female,Personal Travel,Eco Plus,satisfied,32,189,1,1,0.0
96439,Female,Personal Travel,Eco Plus,satisfied,44,551,1,0,0.0
97515,Female,Business travel,Eco Plus,satisfied,39,101,1,0,0.0
103149,Female,Business travel,Eco Plus,satisfied,44,526,1,0,0.0

In [48]:
print("Total no. of PASSENGERS matching the given condition is ",len(PASSENGER))

Total no. of PASSENGERS matching the given condition is  28

### Ans : 28 Laptops

### Column Encoding

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103422 entries, 0 to 103903
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103422 non-null  object
 1   Type of Travel              103422 non-null  object
 2   Class                       103422 non-null  object
 3   satisfaction                103422 non-null  object
 4   Age                         103422 non-null  int64
 5   Flight Distance             103422 non-null  int64
 6   Cleanliness                 103422 non-null  int64
 7   Departure Delay in Minutes  103422 non-null  int64
 8   Arrival Delay in Minutes    103422 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 7.9+ MB

In [50]:
print(df['Gender'].dtype)

object

In [51]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [53]:
df['Gender'].nunique()

2

In [54]:
dct ={ 'Male':0 , 
       'Female':1
      }
#converting object to int

In [55]:
df['Gender'] = df['Gender'].map(dct)

In [56]:
print(df['Gender'].dtype)

int64

### Encoding successfull

In [57]:
df

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,25,18.0
1,0,Business travel,Business,neutral or dissatisfied,25,235,1,1,6.0
2,1,Business travel,Business,satisfied,26,1142,5,0,0.0
3,1,Business travel,Business,neutral or dissatisfied,25,562,2,11,9.0
4,0,Business travel,Business,satisfied,61,214,3,0,0.0
...,...,...,...,...,...,...,...,...,...
103899,1,Business travel,Eco,neutral or dissatisfied,23,192,2,3,0.0
103900,0,Business travel,Business,satisfied,49,2347,4,0,0.0
103901,0,Business travel,Business,neutral or dissatisfied,30,1995,4,7,14.0
103902,1,Business travel,Eco,neutral or dissatisfied,22,1000,1,0,0.0
103903,0,Business travel,Business,neutral or dissatisfied,27,1723,1,0,0.0

### Making new updated csv file after encoding

In [58]:
df.to_csv('updated_cust_satisfaction_csv')